@font-face {
    font-family: "Bird Feather";
    src: url(BirdFeather.ttf);
}

body {
    height: 100vh;
    width: 90vw;
    display: flex;
    background-image: url("/img/peacock.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    cursor: url('featherIcon48x48.png');
}

div {
    background-color: transparent;
}



label {
    color: white;
    font-size: medium;
}

.sessionPanel2 {
    display: flex;
    flex-direction: row;
    /* max-width: 95vw; */

}

.sessionPanel3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 78vw;
} */
}

.changeArea {
    display: flex;
    background-color: transparent;
    flex-direction: column;
}

.search {
    background-color: rgb(64, 108, 55);
}

.search-bar {
    width: 13vw;
    min-width: 85px;
    height: 5%;
    min-height: 30px;
    border-width: 0px;
    border-radius: 3px;
}

.search-button {
    height: 100%;
    width: 3vw;
    background-color: rgb(64, 108, 55);
    color: white;
    border-color: rgb(158, 75, 35);
    border-width: 0px 0px 0px 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}

.sessionFixedColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 98vh;
    max-height: 98vh;
    width: 20vw;
    min-width: 100px;
    background-color: rgb(64, 108, 55);
    border-right: 1px;
    border-color: rgb(118, 53, 23);
    order: -1;
}

.sessionTitle2,
.sessionFixedColumn {
    position: sticky;
    top: 0px;
}

.sessionTitle,
.sessionTitle2 {
    align-self: flex-start;
    text-align: center;
    min-height: 40px;
    width: 100vw;
    font-size: large;
    align-items: center;
    color: white;
    background: linear-gradient(rgba(8, 37, 105, 0.95), rgba(4, 92, 120, 0.1));
    margin-bottom: 3vh;
    font-size: x-large;
    
}

.jay-a{
    color: white !important;
    background-color: transparent !important;
    cursor: pointer;
}

.sessionTitle2 {
    width: 80vw;
    align-self: flex-start;
    padding-top: 1vh;
}

.jay-box,
.tweet,
.login,
.createNewUser,
.account,
.userlist {
    color: white;
    border-radius: 2vh;
    box-shadow: 1px 1px 0px 1px rgba(8, 37, 105, 0.8);
    background-color: rgb(4, 92, 120);
    background: radial-gradient(rgba(8, 37, 105, 0.95), rgba(4, 92, 120, 0.92));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: large;
    overflow: auto;
}

.formtitle {
    font-size: x-large;
    text-align: center;
    text-justify: center;
    padding-top: 0px;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formsubtitle {
    font-size: small;
    text-align: center;
    text-justify: center;
    color: white;
}

.formbody {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 1vh;
    font-size: x-large;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 20vh;
}

.tagsAndMentions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 25vw;
    color: rgb(50, 195, 164) !important;
    cursor: pointer;
}
.tag:hover, .jay-a:hover
{
    text-decoration: underline;
}
.formlabel {
    font-size: large;
    margin-top: 1vh;
}

.formfooter {
    font-size: x-large;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 1vh;
    flex-wrap: wrap;

    min-width: 20vw;
}

.formbutton,
.jnavbutton,
.formbuttonsmall,.replybutton {
    font-size: large;
    color: white;
    background-color: rgb(8, 37, 105);
    background-color: rgb(64, 108, 55);
    border: none;
    padding: 4px 1vh 4px 1vh;
    cursor: pointer;
    
}

input {
    text-align: center;
    
}
.form-text
{
    cursor: url(feathercursor48x48.png), pointer ;
    color : black;
    border-radius: 1vw;
    border-width: 1px 1px 1px 1px;
    max-width: 20vw;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    darkgray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    darkgray;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    darkgray;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    darkgray;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    darkgray;
}


.formbuttonsmall,.replybutton {
    background-color: rgb(118, 53, 23);
    font-size: small;
    color: white;
    align-self: center;
    margin-top: 2px;
    border-radius: 3px;
}

.replybutton {
    background-color: rgb(64, 108, 55);
}

.jnavbutton {
    width: 20vw;
    box-shadow: 0px 0px 0px 1px rgb(158, 75, 35) inset;
    text-align: left;
    padding-left: 1vw;
    flex-grow: 1;
}
.jnavbutton:hover, .search-button:hover
{
    background-color: rgb(50, 195, 164);
}

.formbutton {
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 3px;
}

strong {
    font-family: 'Bird Feather';
    font-size: 100px;
    text-align: right;
    color: white;
    text-shadow: #000 1px 1px 4px;
}

.sidebtn {
    height: 14vh;
}

#newUserButton,
#existingAccount {
    color: white;
}

::selection {
    background-color: rgb(99, 138, 23);
    color: #fff;
}