<div class="createNewUser">
        <div class="formtitle">Create New Acccount
            <div class="formsubtitle">*required</div>
        </div>
        
        <div class="formbody" >

               <span> <div class="formlabel">Username*</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': $ctrl.usernameErrorCss }" ng-model="$ctrl.submission.username"></span>
                <div class="formlabel">Password*</div> <input type="password" class="form-control" id="pwd" ng-style="{'border-color': $ctrl.passwordErrorCss }" ng-model="$ctrl.submission.password">
                <div class="formlabel">First Name</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': 'black' }" ng-model="$ctrl.submission.firstName">
                <div class="formlabel">Last Name</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': 'black' }" ng-model="$ctrl.submission.lastName">
                <div class="formlabel">Email*</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': $ctrl.emailErrorCss }" ng-model="$ctrl.submission.email">
                <div class="formlabel">Phone</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': 'black' }" ng-model="$ctrl.submission.phone">
        </div>
        <div class="formfooter" > 
                <button class='formbutton' ng-click='$ctrl.createNewUser()'>Create Account</button>   
        </div>
        <button class='btn btn-link' id = 'existingAccount' ui-sref = 'title.login' >Already have an account?</button>
        
</div>
<!-- 
<div class="createNewUser">
    <div class="title">Create New Account</div>

    <div class="form-group">
        <label>First Name</label> <input type="text" class="form-control" id="first">
    </div>

    <div class="form-group">
        <label>Last Name</label> <input type="text" class="form-control" id="last">
    </div>

    <div class="form-group">
        <label for="phn">Phone Number</label> <input type="text" class="form-control" id="phn">
    </div>

    <div class="form-group">
        <label>Email address*</label> <input type="email" class="form-control" id="email">
    </div>

    <div class="form-group">
        <label>Username*</label> <input type="text" class="form-control" id="usr">
    </div>

    <div class="form-group">
        <label>Password*</label> <input type="password" class="form-control" id="pwd">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    

    <div class="form-group">
        <button class='btn btn-link' id='existingAccount' ui-sref = 'title.login'>Already Have an Account</button>
    </div>

<div class="form-group">
       <small> *required </small>
    </div>

</div> -->