<div class="createNewUser">
    <div class="formtitle">Create New Acccount
        <div class="formsubtitle">*required</div>
    </div>

    <div class="formbody">

        <div class="form-text">Username*</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': $ctrl.usernameErrorCss }"
            ng-model="$ctrl.submission.username">
        <div class="form-text">Password*</div> <input type="password" class="form-control" id="pwd" ng-style="{'border-color': $ctrl.passwordErrorCss }"
            ng-model="$ctrl.submission.password">
        <div class="form-text">First Name</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': 'black' }" ng-model="$ctrl.submission.firstName">
        <div class="form-text">Last Name</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': 'black' }" ng-model="$ctrl.submission.lastName">
        <div class="form-text">Email*</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': $ctrl.emailErrorCss }"
            ng-model="$ctrl.submission.email">
        <div class="form-text">Phone</div> <input type="text" class="form-control" id="content" ng-style="{'border-color': 'black' }" ng-model="$ctrl.submission.phone">
    </div>
    <div class="formfooter">
        <button class='formbutton' ng-click='$ctrl.createNewUser()'>Create Account</button>
    </div>
    <button class='btn btn-link' id='existingAccount' ui-sref='title.login'>Already have an account?</button>

</div>